.hypnotic {
   width: 56px;
   height: 56px;
   display: grid;
}

.hypnotic::before,
.hypnotic::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: repeating-radial-gradient(farthest-side, #0000 0%, #474bff 1% 10%, #0000 11% 30%);
   -webkit-mask: repeating-conic-gradient(#000 0 36deg, #0000 0 72deg);
   animation: hypnotic-665qll 4s infinite linear;
}

.hypnotic::after {
   -webkit-mask: repeating-conic-gradient(#0000 0 36deg, #000 0 72deg);
   animation-direction: reverse;
}

@keyframes hypnotic-665qll {
   100% {
      transform: rotate(1turn);
   }
}